/* --------------------- Indhold ------------------------ */
@font-face {
  font-family: "KBH";
  src: url("KBH/KBH-Regular.woff2") format("woff2");

  font-family: "avenir";
  src: url("Avenir/Avenir\ Book.ttf") format("ttf");
}

body {
  font-family: "KBH", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "KBH", sans-serif;
  font-size: 4em;
  padding-bottom: 5px;
}

h2 {
  font-size: 20px;
  padding-bottom: 10px;
}

p {
  font-family: "avenir", sans-serif;
  font-size: 16px;
}

button {
  background-color: #002350;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  border: none;
  cursor: pointer;
  font-family: "avenir", sans-serif;
  font-size: 18px;
}

button:hover {
  background-color: #f1f1f1;
  color: black;
  border: solid black;
}

/* ------------------ Nav start ---------------------- */

nav {
  background-color: #fff;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav a {
  color: black;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav img {
  height: 100px;
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-links {
  display: flex;
}

.burger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 200px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    list-style-type: none;
  }

  .nav-links li {
    margin-bottom: 15px;
  }

  .nav-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .burger-menu.active + .nav-links {
    display: flex;
  }
}

/* ------------------- Nav slut ------------------------ */

/* ------------------- Body start ------------------------ */

/* ------------------- Forside ------------------------ */

a {
  cursor: pointer;
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

section {
  position: relative;
}

.overlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlaytext h1 {
  display: inline-block;
}

.overlaytext h1 span {
  display: inline-block;
  opacity: 0;
  transform: translateX(1em);
  animation: fadeInUp 2s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.typewriter h1 {
  font-family: "KBH", sans-serif;
  font-size: 3em;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0em;
  animation: typing 3s steps(40, end), blink-caret 0.3s step-end infinite;
  text-shadow: 1px 1px 2px #000000;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }

  /* ------------------- Forside slut ------------------------ */
  /* ------------------- Blog start ------------------------ */
}

.boks {
  background-color: #d88759;
  color: white;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  height: 300px;
  margin-top: 100px;
}

.boks p {
  margin: 0;
}
/* ------------------- Blog slut ------------------------ */
/* ------------------- Body slut ------------------------ */

/* ------------------ Footer start ---------------------- */

footer {
  background: #346ea4;
  color: white;
  padding: 10px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img {
  height: 100px;
  width: auto;
  margin: 0 15px;
}

footer p,
h2 {
  margin: 0 15px;
}

/* ------------------- Footer slut ---------------------- */
